<div class="toolbar" role="banner">
  <span>BabyFirst</span>
</div>

<div class = "content">
  <h3>Pick your offers</h3>
  <!-- <p>{{selectedOffers.size}}</p> -->
    <div class="card-container">
      <a class="card" *ngFor="let product of products" (click)="selectOffer(product.id)">
        <div class="card-image-container" >
          <img class="card-image" src = "{{product.image}}" alt="Product image" />
          <img class= "selected-icon" src = "../assets/icon_check.svg" alt="Offer selected" />
          <input class= "detail-btn" type = "image" (click) = "seeProductDetails(product)" src = "../assets/icon_info.svg" alt="See offer details" />
        </div>
        <span class = "tag" title={{product.tag}} >{{product.tag}}</span>
        <p>{{product.name}}</p>
      </a>
    </div>
  </div>
<div *ngIf = "(currentProduct| json) != '{}'">
    <app-offer-details
    [product] = "currentProduct"
    (onSelectOffer) = "selectOffer(currentProduct.id)" >
    </app-offer-details>
</div>
