

  <div *ngIf = "(currentProduct| json) != '{}'; else offersListBlock">
      <app-offer-details
      [product] = "currentProduct"
      [selected] = "selectedOffers.has(currentProduct.id)"
      (onToggleOffer) = "toggleOfferSelection(currentProduct.id)"
      (onCloseOffer) = "closeOfferDetails()">
      </app-offer-details>
  </div>
  <ng-template #offersListBlock>
    <div class="toolbar" role="banner">
      <span>BabyFirst</span>
    </div>
    <div class = "content" >
    <div class="progressbar-container">
      <ul class="progressbar">
        <li>Profile</li>
        <li class="active">Offers</li>
        <li>Success</li>
      </ul>
    </div>
    <h3 class= "offers-title">Pick your offers</h3>
      <div class="card-container">
        <a class="card"
          *ngFor="let product of products"
          (click)="toggleOfferSelection(product.id)"
          [ngClass]="{'selected':selectedOffers.has(product.id)}">
          <div class="card-image-container" >
            <span class="vertical-img-helper"></span>
            <img class="card-image" src = "{{product.image}}" alt="Product image" />
            <img class= "selected-icon" src = "./assets/icon_check.svg" alt="Offer selected" />
            <input class= "detail-btn" type = "image" (click) = "seeProductDetails(product)" src = "./assets/icon_info.svg" alt="See offer details" />
          </div>
          <span class = "tag" title={{product.tag}} >{{product.tag}}</span>
          <p>{{product.name}}</p>
        </a>
      </div>
      <div class = "btn-container">
        <button class = "button too-few-selected" *ngIf = "selectedOffers.size < 5">
          {{selectedOffers.size}} of 5 offers selected</button>
        <button class="button submit-selection" (click) = "submitOfferSelection()" *ngIf = "selectedOffers.size === 5">
          {{selectedOffers.size}} of 5 offers selected
        </button>
        <button class="button too-many-selected" *ngIf = "selectedOffers.size > 5">
          {{selectedOffers.size}} of 5 offers selected
        </button>
      </div>
      </div>
      <footer>
        <img alt="BabyFirst Logo" src="./assets/img_publisher_logo.svg"/>
        <div class="footer-link-container">
          <div class="footer-column">
            <a>Terms & Conditions</a>
            <a>Privacy Policy</a>
            <a>My Account</a>
          </div>
          <div class="footer-column">
            <a>Terms of Service</a>
            <a>Contact Us</a>
            <a>Logout</a>
          </div>
        </div>
      </footer>
    </ng-template>
