
<div class="toolbar" role="banner">
  <span>BabyFirst</span>
</div>
<div class = "content" >
  <div *ngIf = "(currentProduct| json) != '{}'; else elseBlock">
      <app-offer-details
      [product] = "currentProduct"
      (onSelectOffer) = "selectOffer(currentProduct.id)" >
      </app-offer-details>
  </div>
  <ng-template #elseBlock>
    <div class="progressbar-container">
      <ul class="progressbar">
        <li>Profile</li>
        <li class="active">Offers</li>
        <li>Success</li>
      </ul>
    </div>
    <h3>Pick your offers</h3>
    <p>{{selectedOffers.size}}</p>
      <div class="card-container">
        <a class="card" *ngFor="let product of products" (click)="selectOffer(product.id)">
          <div class="card-image-container" >
            <img class="card-image" src = "{{product.image}}" alt="Product image" />
            <img class= "selected-icon" src = "../assets/icon_check.svg" alt="Offer selected" />
            <input class= "detail-btn" type = "image" (click) = "seeProductDetails(product)" src = "../assets/icon_info.svg" alt="See offer details" />
          </div>
          <span class = "tag" title={{product.tag}} >{{product.tag}}</span>
          <p>{{product.name}}</p>
        </a>
      </div>
    </ng-template>
  </div>

<footer>
  <img alt="BabyFirst Logo" src="../assets/img_publisher_logo.svg"/>
  <div class="footer-link-container">
    <div class="footer-column">
      <a>Terms & Conditions</a>
      <a>Privacy Policy</a>
      <a>My Account</a>
    </div>
    <div class="footer-column">
      <a>Terms of Service</a>
      <a>Contact Us</a>
      <a>Logout</a>
    </div>
  </div>
</footer>
