.close-button {
  position: absolute;
  color: #ffffff;
  cursor: pointer;
  font-size: 24px;
  right: 25px;
  top: 7px;
}

.product-info {
  padding: 22px;
}

.brand-info {
  display: block;
  vertical-align: middle;
  border-bottom:  2px solid #dddddd;
}

.brand-logo {
  height:37px;
  padding: 5px;
  vertical-align: middle;
}

.brand-name {
}


.product-image-container {
  text-align: center;
  display: block;
  height: 181px;
  margin: auto;
  width: 100%;
  vertical-align: middle;
  background-color: #ffffff;
}

.product-image {
  max-height: 130px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}
