<div>
  <div class="product-image-container">
    <img class="product-image" src = "{{product.image}}" alt="Product image"/>
  </div>
  <span class = "tag" title={{product.tag}} >{{product.tag}}</span>
  <p>{{product.name}}</p>
  <div class="brand-info">
    <img src = "{{product.logo}}" alt="Product image"/>
    <p>{{product.brand}}</p>
  </div>
    <p>{{product.description}}</p>
  <div class = "btn-container">
    <button class = "button" (click)="selectOffer()">Select Offer</button>
  </div>
</div>
