
<div class="toolbar" role="banner">
  <span>Offer Details</span>
  <span class="close-button" (click)="closeOfferDetails()">✖</span>
</div>
<div class = "content" >
<div class="details-container">
  <div class="product-image-container">
    <span class="vertical-img-helper"></span>
    <img class="product-image" src = "{{product.image}}" alt="Product image"/>
  </div>
  <div class= "product-info">
    <span class = "tag" title={{product.tag}} >{{product.tag}}</span>
    <h3>{{product.name}}</h3>
    <div class="brand-info">
      <img class="brand-logo" src = "{{product.logo}}" alt="Brand logo"/>
      <span class="brand-name">{{product.brand}}</span>
    </div>
    <p>{{product.description}}</p>
  </div>
  </div>
  <div class = "btn-container">
    <button class = "button" (click)="toggleOfferSelection()" *ngIf = "!selected">Select Offer</button>
    <button class = "button" (click)="toggleOfferSelection()" *ngIf = "selected">Deselect Offer</button>
  </div>
<div>
